.product-grid-card{
  padding: 1rem;
  position: relative;
  background-color: var(--clr-white);
  border-radius: .75rem;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.product-stats-icon{ /* change the bg-colour to use root colour */
  left: calc(100% - 1rem);
  transform: translateX(-100%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-clr);
  color: var(--clr-base);
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 1.75rem;

}

.product-stats-tooltip{
  position: absolute;
  width: max-content;
  left: 0;
  transform: translateX(-105%);
  padding: 0 0.5rem;
  font-size: var(--font-s);
  background-color: var(--primary-clr);
  color: var(--clr-base);
  visibility:hidden;
  border-radius: 4px;
  transition: 0.3s linear;
}

.product-stats-icon:hover .product-stats-tooltip{
  visibility:visible;
  transition: 0.3s linear;
}

.product-category{
  font-size: var(--font-s);
}

.product-name{
  font-size: var(--font-h5);
  font-weight: 700;
  color: var(--accent-clr);
}

.product-image{
  background-color: grey;
  aspect-ratio: 3/2;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.product-bottom-section{
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price{
  color: var(--clr-grey);
}

.product-add-to-cart{
  background-color: var(--primary-clr);
  color: var(--clr-base);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  aspect-ratio: 1/1;
  top: 90%;
  
}

.product-add-to-cart:hover{
  color: var(--accent-clr);
  background-color: var(--primary-hover-clr);
	box-box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  transition: 0.1s ;
}

/*  
  Widths for product 
  category 90px
  name 100px
  image 100%
  price 70px
  cart 42px
  stats icon 25px
*/

