.security-banner-container{
	background-color: white;
	margin-top: 1rem;
	border-radius: .75rem;
	padding: 1rem;
	position: relative;
	min-width: 300px;
}

.change-password-button{
	position: absolute;
	top: calc(0% + 1rem);
	left: calc(100% - 1rem);
	transform: translateX(-100%);
	border: none;
	outline: none;
	background-color: var(--primary-clr);
	color: var(--clr-white);
	height: fit-content;
	width:max-content;
	padding: .5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: .25rem;
}

.change-password-button:hover{
	color: var(--accent-clr);
}

.banner-details-wrapper{
	display: flex;
	flex-direction: column;
}

.profile-section-identity{
	font-size: var(--font-h5);
	font-weight: 700;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
}

