.profile-banner-container{
	background-color: var(--clr-white);
	padding: 1rem;
	border-radius: .75rem;
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	position: relative;
	min-width: 300px;
}

.edit-profile-button{
	position: absolute;
	top: calc(0% + 1rem);
	left: calc(100% - 1rem);
	transform: translateX(-100%);
	border: none;
	outline: none;
	background-color: var(--primary-clr);
	color: var(--clr-white);
	height: fit-content;
	width:max-content;
	padding: .5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: .25rem;
}

.edit-profile-button:hover{
	color: var(--accent-clr);
}

.profile-section-identity{
	font-size: var(--font-h5);
	font-weight: 700;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	gap: .5rem;
}

.banner-image-wrapper{
	min-width: 150px;
	max-width: 100%;
	aspect-ratio: 1/1;
}

.banner-image{
	width: 100%;
	max-height: 150px;
	object-fit: cover;
	border-radius: 50%;
}

.banner-details-wrapper{
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
}

.banner-name{
	font-size: var(--font-h4);
	font-weight: 500;
}

.banner-email{
color: var(--clr-grey);
}

.banner-role{
	font-size: var(--font-s);
	font-weight: 500;
	margin-top: 2rem;
	color: var(--accent-clr);
}

