.header-container{
  padding: 1rem;
  background-color: var(--clr-base);
  display: flex;
  justify-content: space-between;
	align-items: center;
  background-color: var(--clr-white);
  border-bottom: 1px solid rgba(9, 30, 66, 0.25);
}

.header-menu-toggle{
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.header-search-form{
  background-color: var(--clr-white);
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0.5rem 0;
  gap: 0.5rem;
  border-bottom: 0.5px solid var(--clr-accent);
}

.search-input{
  border: none;
  font-size: var(--font-h4);
  outline: none;
}

.user-profile{
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-template-areas: 
  "user-profile-image user-profile-name user-profile-dropdown-button"
  "user-profile-image user-profile-email user-profile-dropdown-button";
}

.user-profile-image{
  width: 100%;
  grid-area: user-profile-image;
  border-radius: 50%;
}

.user-profile-name{
  width: 100%;
  grid-area: user-profile-name;
  font-size: var(--font-h5);
  padding-left: 1rem;
  align-self: self-end;
}

.user-profile-email{
  width: 100%;
  grid-area: user-profile-email;
  font-size: var(--font-s);
  padding-left: 1rem;
}

.user-profile-dropdown-button{
 align-self: self-end;
 cursor: pointer;
}

.account-action{
	display:flex;
	gap: 1rem;
	flex-wrap: wrap;
	height: max-content;
}

.account-action span{
	cursor: pointer;
}
.account-action span:hover{
	text-decoration: underline;
}