.populated-cart {
	position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  grid-template-areas:
    "cart-items cart-summary";

  /* Stack items and summary vertically when the width is below 768px */
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "cart-items"
      "cart-summary";
  }
}

.cart-items {
  grid-area: cart-items;
  display: grid;
  gap: 1rem;
}

.cart-summary {
  grid-area: cart-summary;
}


.unpopulated-cart{
	min-height: 100%;
	min-width: 100%;
	font-size: var(--font-h4);
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
}







