.cart-item-container {
  background-color: var(--clr-white);
  border-radius: 0.75rem;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  position: relative;
}

.cart-item-delete{
	position: absolute;
	left: 100%;
	top: 1rem;
	transform: translateX(calc(-100% - 1rem));
	border-radius: .25rem;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	transition: 0.5s;
	padding: .25rem; 
}

.cart-item-delete:hover{
	transition: 0.5s;
	background-color: var(--accent-clr);
	box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.cart-item-image{
	width: 100%;
	max-height: 200px;
	object-fit: cover;
}

.cart-item-details-wrapper{
	display: flex;
	flex-direction: column;
}

.cart-item-category{
	font-size: var(--font-s);
	font-weight: 500;

}

.cart-item-name{
	font-size: var(--font-h3);
	font-weight: 700;
	color: var(--accent-clr);
}

.cart-item-cost-price{
	margin-top: 2.25rem;
	font-size: var(--font-h4);
	color: var(--clr-grey);
}

.cart-item-section-wrapper{
	display: grid;
}

.cart-item-identifier{
	font-weight: 600;
}

.cart-item-quantity{
	height: fit-content;
	width:100px;
	padding: .25rem;
}
