/*  This container's width should ONLY!!! be controlled from "home component" */
/* .sidemenu-container{
  height: 100%;
} */

.sidemenu-wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 1rem;
  background-color: var(--clr-white);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px , rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.logo-container{
  height: 110px;
  padding-left: 1rem;
}

.main-nav{
  margin-top: 2rem;
}

.sidemenu-wrapper nav{
  margin-bottom: auto;
}

.logo-image{
  height: 100%;
}

.sidemenu-wrapper ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
}

.sidemenu-wrapper ul li .sidemenu-nav{
  display: flex;
  align-items: center;
  gap:1rem;
  font-size: var(--font-h5);
  padding: 1rem 0 1rem 1rem;
  border-radius: .5rem;
  color: var(--clr-default);
  text-decoration: none;
	position: relative;
	/* the next css properties are for styling the logout button but otherwise apply to the nav tabs on the menu */
	border: none; 
	outline: none;
	width: 100%;
	background-color: var(--clr-white)
}

.sidemenu-wrapper ul li .sidemenu-nav:hover{
  background-color: var(--accent-clr);
  color: var(--clr-white);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  transition: 0.2s ;
}

.sidemenu-icon{
  color: var(--primary-clr);
}

.cart-count{
	font-size: var(--font-s);
	background-color: greenyellow;
	aspect-ratio: 1/1;
	height: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-weight: 700;
	position: absolute;
	top: calc(0% + 5px);
	left: calc(0% + 2.3rem);
	color: var(--clr-default);
}

.logout-container{
  position: relative;
}

.logout-container::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: calc(0% - 1rem);
  background-color: var(--clr-grey);
}



