@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap");

:root {
  --font-one: "Poppins", sans-serif;
  --font-two: "SUSE", sans-serif;

  /*  Temporary colour weights for text */
  --text-default: rgb(0 0 0);
  --text-white: rgb(255 255 255);
  --text-grey: rgb(128 128 128);
  --text-base: rgb(254 250 224);
  --text-primary: rgb(64 64 64); /* A darker grey for primary */
  --text-accent: rgb(192 192 192); /* A lighter grey for accent/secondary colour */

  /*  Temporary colour weights for elements */
  --clr-default: rgb(0 0 0);
  --clr-white: rgb(255 255 255);
  --clr-grey: rgb(128 128 128);
  --clr-base: rgb(243, 242, 238);
  --clr-primary: rgb(64 64 64); /* A darker grey for primary */
  --clr-accent: rgb(192 192 192); /* A lighter grey for accent/secondary colour */
  
  --font-h1: 2.25rem;
  --font-h2: 2rem;
  --font-h3: 1.75rem;
  --font-h4: 1.5rem;
  --font-h5: 1.25rem;
  --font-n: 1rem;
  --font-s: 0.75rem;
  --font-xs: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-one);
  max-width: 1920px;
  background-color: var(--clr-base);
}

.button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}
