.analytics-overview-skeleton-container{
	display: grid;
  grid-template-columns: repeat(auto-fit,300px);
  gap: 1rem;
  justify-content: center;
	margin-top: 2rem;
}

.analitic-overview-card{
	background-color: white;
	width: 100%;
	aspect-ratio: 6/5;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: .75rem;
	box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.overview-icon{
	transform: scale(3);
	color: var(--clr-grey);
	margin-bottom: 1.75rem;
}

.overview-value{
	font-size: var(--font-h3);
	font-weight: 700;
}

.overview-name{
	font-size: var(--font-s);
	font-weight: 500;
	color: var(--clr-grey);
}

