.register-container{
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0 0 0 / .7);
}

.register-form{
	position: relative;
	background-color: var(--clr-white);
	max-width: 600px;
	width: 100%;
	margin: 2rem;
	padding: 2rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 1.25rem;
	border-radius: .75rem;
}

.form-close{
	border: none;
	outline: none;
	border-radius: 20%;
	padding: .25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: calc(100% - 2rem);
	transform: translateX(-100%);
	transition: 0.3s;
}

.form-close:hover{
	background-color: var(--accent-clr);
	transition: 0.3s;
	box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.form-identity{
	font-size: var(--font-h2);
	font-weight: 700;
}

.input-group{
	display: flex;
	flex-direction: column;
}

.form-label{
	font-size: var(--font-s);
	font-weight: 600;
}

.form-input{
	padding: .75rem 0;
	font-size: var(--font-n);
	outline: none;
	border: none;
	border-bottom: 1px solid var(--accent-clr);
}

.input-validation{
	font-size: var(--font-s);
	color: rgb(221, 51, 51);
	min-height: 20px;
}

.form-button{
	margin-top: 2rem;
	padding: .75rem;
	background-color: var(--primary-clr);
	outline: none;
	border: none;
	border-radius: .25rem;
	color: var(--clr-base);
	font-size: var(--font-n);
	transition: 0.3s;
}

.form-button:hover{
	background-color: var(--primary-hover-clr);
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	transition: 0.3s;
}

.form-direct{
	font-size: var(--font-s);
	font-weight: 500;
}

.form-link{
	font-weight: 700;
	text-decoration: none;
	color: var(--primary-clr);
}

.form-link:hover{
	text-decoration: underline;
}
